<div class="content-card">
    <div class="d-flex justify-content-end p-3 nav-menu ">
        <button class="nav-btn" 
        [ngClass]="{'active': activeId === 1}" 
        (click)="changePage(1)">About</button>

<button class="nav-btn" 
        [ngClass]="{'active': activeId === 2}" 
        (click)="changePage(2)">Projects</button>

<button class="nav-btn" 
        [ngClass]="{'active': activeId === 3}" 
        (click)="changePage(3)">Contact Page</button>
    </div>

    @if(activeId ===  1){
        <app-about-page></app-about-page>
    }
    @else if (activeId ===  2) {
        <app-project-page></app-project-page>
    }
    @else if (activeId === 3) {
        <app-contact-page></app-contact-page>
    }
</div>
